.product-counter {
	display: flex;
	align-items: center;
	gap: 2px;

	&__btn {
		width: 30px;
		height: 30px;

		position: relative;

		border-radius: var(--border-sm);
		border: 1px solid var(--color-border);

		&::before,
		&--plus::after {
			content: "";

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			background-color: var(--color-border);
			border-radius: 1px;
		}

		&::before {
			width: 10px;
			height: 2px;
		}

		&--plus:after {
			width: 2px;
			height: 10px;
		}
	}

	&__input {
		max-width: 40px;
		padding: 4px 6px;

		font-weight: 600;
		text-align: center;
	}
}

/*************** EFFECTS ***************/

@include effect {
	.product-counter {
		&__btn,
		&__btn::before,
		&__btn--plus::after {
			@include trans;
		}

		&__btn:hover {
			border-color: var(--color-accent);
			background-color: var(--color-box);
		}

		&__btn:active {
			transform: scale(0.9);
		}

		&__btn:hover::before,
		&__btn--plus:hover::after {
			background-color: var(--color-accent);
		}
	}
}
