<ul class="catalog__list">
	<li class="catalog__item">
		<div class="catalog__item-img-wrapper">
			<picture>
				<source srcset="./img/category/catalog-01.webp" type="image/webp">
				<img class="catalog__item-img" src="./img/category/catalog-01.jpg" alt="Доска">
			</picture>

			<div class="catalog__subcategories">
				<ul class="catalog__subcategories-list">
					<li class="catalog__subcategory">
						<a class="catalog__subcategory-link" href="#">Доска обрезная</a>
					</li>

					<li class="catalog__subcategory">
						<a class="catalog__subcategory-link" href="#">Доска строганная</a>
					</li>
				</ul>
			</div>

			<p class="catalog__item-price">от 13 500 ₽</p>
		</div>

		<div class="catalog__item-box">
			<h3 class="catalog__item-title-4 title-4">
				<a class="catalog__item-link" href="#">Доска</a>
			</h3>
		</div>
	</li>

	<li class="catalog__item">
		<div class="catalog__item-img-wrapper">
			<picture>
				<source srcset="./img/category/catalog-02.webp" type="image/webp">
				<img class="catalog__item-img" src="./img/category/catalog-02.jpg" alt="Брус">
			</picture>

			<div class="catalog__subcategories">
				<ul class="catalog__subcategories-list">
					<li class="catalog__subcategory">
						<a class="catalog__subcategory-link" href="#">Доска обрезная</a>
					</li>

					<li class="catalog__subcategory">
						<a class="catalog__subcategory-link" href="#">Доска строганная</a>
					</li>
				</ul>
			</div>

			<p class="catalog__item-price">от 13 500 ₽</p>
		</div>

		<div class="catalog__item-box">
			<h3 class="catalog__item-title-4 title-4">
				<a class="catalog__item-link" href="#">Брус</a>
			</h3>
		</div>
	</li>

	<li class="catalog__item">
		<div class="catalog__item-img-wrapper">
			<picture>
				<source srcset="./img/category/catalog-03.webp" type="image/webp">
				<img class="catalog__item-img" src="./img/category/catalog-03.jpg" alt="Брусок">
			</picture>

			<div class="catalog__subcategories">
				<ul class="catalog__subcategories-list">
					<li class="catalog__subcategory">
						<a class="catalog__subcategory-link" href="#">Доска обрезная</a>
					</li>

					<li class="catalog__subcategory">
						<a class="catalog__subcategory-link" href="#">Доска строганная</a>
					</li>
				</ul>
			</div>

			<p class="catalog__item-price">от 13 500 ₽</p>
		</div>

		<div class="catalog__item-box">
			<h3 class="catalog__item-title-4 title-4">
				<a class="catalog__item-link" href="#">Брусок</a>
			</h3>
		</div>
	</li>

	<li class="catalog__item">
		<div class="catalog__item-img-wrapper">
			<picture>
				<source srcset="./img/category/catalog-04.webp" type="image/webp">
				<img class="catalog__item-img" src="./img/category/catalog-04.jpg" alt="Блокхаус">
			</picture>

			<div class="catalog__subcategories">
				<ul class="catalog__subcategories-list">
					<li class="catalog__subcategory">
						<a class="catalog__subcategory-link" href="#">Доска обрезная</a>
					</li>

					<li class="catalog__subcategory">
						<a class="catalog__subcategory-link" href="#">Доска строганная</a>
					</li>
				</ul>
			</div>

			<p class="catalog__item-price">от 13 500 ₽</p>
		</div>

		<div class="catalog__item-box">
			<h3 class="catalog__item-title-4 title-4">
				<a class="catalog__item-link" href="#">Блокхаус</a>
			</h3>
		</div>
	</li>

	<li class="catalog__item">
		<div class="catalog__item-img-wrapper">
			<picture>
				<source srcset="./img/category/catalog-05.webp" type="image/webp">
				<img class="catalog__item-img" src="./img/category/catalog-05.jpg" alt="Вагонка">
			</picture>

			<p class="catalog__item-price">от 13 500 ₽</p>
		</div>

		<div class="catalog__item-box">
			<h3 class="catalog__item-title-4 title-4">
				<a class="catalog__item-link" href="#">Вагонка</a>
			</h3>
		</div>
	</li>

	<li class="catalog__item">
		<div class="catalog__item-img-wrapper">
			<picture>
				<source srcset="./img/category/catalog-06.webp" type="image/webp">
				<img class="catalog__item-img" src="./img/category/catalog-06.jpg" alt="Имитация бруса">
			</picture>

			<p class="catalog__item-price">от 13 500 ₽</p>
		</div>

		<div class="catalog__item-box">
			<h3 class="catalog__item-title-4 title-4">
				<a class="catalog__item-link" href="#">Имитация бруса</a>
			</h3>
		</div>
	</li>

	<li class="catalog__item">
		<div class="catalog__item-img-wrapper">
			<picture>
				<source srcset="./img/category/catalog-07.webp" type="image/webp">
				<img class="catalog__item-img" src="./img/category/catalog-07.jpg" alt="Половая доска">
			</picture>

			<p class="catalog__item-price">от 13 500 ₽</p>
		</div>

		<div class="catalog__item-box">
			<h3 class="catalog__item-title-4 title-4">
				<a class="catalog__item-link" href="#">Половая доска</a>
			</h3>
		</div>
	</li>

	<li class="catalog__item">
		<div class="catalog__item-img-wrapper">
			<picture>
				<source srcset="./img/category/catalog-08.webp" type="image/webp">
				<img class="catalog__item-img" src="./img/category/catalog-08.jpg" alt="Клееный пиломатериал">
			</picture>

			<p class="catalog__item-price">от 13 500 ₽</p>
		</div>

		<div class="catalog__item-box">
			<h3 class="catalog__item-title-4 title-4">
				<a class="catalog__item-link" href="#">Клееный пиломатериал</a>
			</h3>
		</div>
	</li>

	<li class="catalog__item">
		<div class="catalog__item-img-wrapper">
			<picture>
				<source srcset="./img/category/catalog-09.webp" type="image/webp">
				<img class="catalog__item-img" src="./img/category/catalog-09.jpg" alt="Фанера">
			</picture>

			<div class="catalog__subcategories">
				<ul class="catalog__subcategories-list">
					<li class="catalog__subcategory">
						<a class="catalog__subcategory-link" href="#">Доска обрезная</a>
					</li>

					<li class="catalog__subcategory">
						<a class="catalog__subcategory-link" href="#">Доска строганная</a>
					</li>

					<li class="catalog__subcategory">
						<a class="catalog__subcategory-link" href="#">Доска строганная</a>
					</li>

					<li class="catalog__subcategory">
						<a class="catalog__subcategory-link" href="#">Доска строганная</a>
					</li>

					<li class="catalog__subcategory">
						<a class="catalog__subcategory-link" href="#">Доска строганная</a>
					</li>

					<li class="catalog__subcategory">
						<a class="catalog__subcategory-link" href="#">Доска строганная</a>
					</li>
				</ul>
			</div>

			<p class="catalog__item-price">от 13 500 ₽</p>
		</div>

		<div class="catalog__item-box">
			<h3 class="catalog__item-title-4 title-4">
				<a class="catalog__item-link" href="#">Фанера</a>
			</h3>
		</div>
	</li>

	<li class="catalog__item">
		<div class="catalog__item-img-wrapper">
			<picture>
				<source srcset="./img/category/catalog-10.webp" type="image/webp">
				<img class="catalog__item-img" src="./img/category/catalog-10.jpg" alt="Погонаж">
			</picture>

			<p class="catalog__item-price">от 13 500 ₽</p>
		</div>

		<div class="catalog__item-box">
			<h3 class="catalog__item-title-4 title-4">
				<a class="catalog__item-link" href="#">Погонаж</a>
			</h3>
		</div>
	</li>

	<li class="catalog__item">
		<div class="catalog__item-img-wrapper">
			<picture>
				<source srcset="./img/category/catalog-11.webp" type="image/webp">
				<img class="catalog__item-img" src="./img/category/catalog-11.jpg" alt="Лиственница">
			</picture>

			<p class="catalog__item-price">от 13 500 ₽</p>
		</div>

		<div class="catalog__item-box">
			<h3 class="catalog__item-title-4 title-4">
				<a class="catalog__item-link" href="#">Лиственница</a>
			</h3>
		</div>
	</li>

	<li class="catalog__item">
		<div class="catalog__item-img-wrapper">
			<picture>
				<source srcset="./img/category/catalog-12.webp" type="image/webp">
				<img class="catalog__item-img" src="./img/category/catalog-12.jpg" alt="Стройматериалы">
			</picture>

			<p class="catalog__item-price">от 13 500 ₽</p>
		</div>

		<div class="catalog__item-box">
			<h3 class="catalog__item-title-4 title-4">
				<a class="catalog__item-link" href="#">Стройматериалы</a>
			</h3>
		</div>
	</li>
</ul>