.promo {
	margin-top: var(--space-xs);

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: var(--space-sm);

		padding: var(--space-md);
		padding-left: var(--space-lg);

		background-color: var(--color-box);
		border-radius: var(--border-lg);
	}

	&__content {
		width: 100%;
	}

	&__text {
		margin-top: var(--space-xs);
		max-width: 480px;

		font-weight: 500;
		font-size: var(--font-size-md);
	}

	&__link {
		@include btn(240px, 60px);

		margin-top: var(--space-md);
	}

	&__sell-slider {
		width: 100%;
	}
}

.sell-slider {
	position: relative;

	&__item {
		max-width: 500px;
		margin: 0 auto;

		position: relative;
	}

	&__img {
		margin: 0 auto;
		object-fit: contain;

		width: 100%;
		height: 100%;
	}

	&__text {
		position: absolute;
		padding: 12px 30px 12px 15px;
		max-width: 220px;

		background-color: var(--color-bg);
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
		border-radius: var(--border-md);

		&::after {
			content: "";
			width: 10px;
			height: 10px;

			position: absolute;
			top: 50%;
			right: -5px;
			transform: translateY(-50%);

			background-color: var(--color-accent);
			border-radius: 100%;
		}

		&:nth-of-type(1) {
			left: 0%;
			top: 10%;
		}

		&:nth-of-type(2) {
			right: 0%;
			top: 40%;

			&::after {
				left: -5px;
			}
		}

		&:nth-of-type(3) {
			left: 5%;
			top: 65%;
		}
	}

	&__controls {
		display: flex;
		justify-content: center;
		gap: var(--space-xs);
		width: 100%;

		position: absolute;
		bottom: -10px;
		left: 50%;
		transform: translateX(-50%);
	}

	&__btn {
		width: 100%;
		max-width: 60px;
		height: 3px;

		position: relative;

		background-color: var(--color-border);

		&--active {
			background-color: var(--color-accent);
		}

		&::after {
			content: "";
			height: 48px;
			width: 100%;

			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.banner {
	margin-top: var(--space-xl);

	&__inner {
		padding: var(--space-lg);

		position: relative;

		background-color: var(--color-box);
		border-radius: var(--border-lg);
	}

	&__title {
		max-width: 900px;

		&-main {
			font-size: 100px;
			font-weight: 900;
			line-height: 1;
			color: var(--color-accent);
			text-transform: uppercase;
		}

		&-sub {
			padding-top: var(--space-xs);

			font-size: 50px;
			font-weight: 600;
			line-height: 1;
			color: var(--color-title);
			text-transform: uppercase;
		}
	}

	&__text {
		padding-top: var(--space-xs);
		max-width: 1200px;
	}

	&__img {
		@include trans;

		position: absolute;
		right: 20px;
		top: 20px;

		animation: printRotation 25s linear 0s infinite;
	}
}

.popular {
	margin-top: var(--space-xl);

	&__flexbox {
		align-items: center;
	}

	&__title-2 {
	}

	&__flexbox {
		margin-top: var(--space-xs);
	}

	&__slider {
		margin-top: var(--space-md);
	}
}

.about {
	margin-top: var(--space-xl);

	&__top {
		display: flex;
		align-items: center;
		gap: var(--space-md);
	}

	&__content {
		width: 100%;
	}

	&__title-2 {
	}

	&__subtitle {
		margin-top: var(--space-sm);

		font-size: var(--font-size-md);
		font-weight: 500;
	}

	&__text {
		margin-top: var(--space-sm);
	}

	&__link {
		@include btn(240px, 60px);

		margin-top: var(--space-md);
	}

	&__img-wrapper {
		width: 100%;
		height: 100%;
	}

	&__img {
		object-fit: cover;

		min-height: 500px;
		width: 100%;
	}
}

.advantages {
	margin-top: var(--space-xl);

	&__title {
		margin: 0 auto;
		max-width: 1000px;

		font-size: 1.875rem;
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;
	}

	&__list {
		margin-top: var(--space-md);

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--space-sm);
	}

	&__item {
		display: flex;
		align-items: center;
		gap: var(--space-xs);

		padding: var(--space-sm);

		background-color: var(--color-box);
		border-radius: var(--border-lg);
	}

	&__item-img-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;

		min-width: 80px;
		height: 80px;
		padding: 16px;

		background-color: var(--color-bg);
		border-radius: var(--border-md);
	}

	&__item-title {
		font-size: var(--font-size-md);
		line-height: 1;
		font-weight: 500;
	}

	&__item-img {
	}

	&__item-box {
	}

	&__text {
		margin-top: var(--space-xxs);

		line-height: 1;
		color: var(--color-subtext);
	}
}

.calculator {
	margin-top: var(--space-xl);

	&__inner {
		padding: 20px;

		background-color: var(--color-box);
		border-radius: var(--border-lg);

		position: relative;
	}

	&__img {
		height: 100%;

		position: absolute;
		left: 40px;
		bottom: 0;
		z-index: $layer-1;
	}

	&__content {
		width: 100%;
		max-width: 700px;
		margin-left: auto;

		position: relative;
		z-index: $layer-2;
	}

	&__content-top {
		padding: 30px 40px 20px;

		background-color: var(--color-bg);
		border-radius: var(--border-lg) var(--border-lg) 0 0;
	}

	&__title-2 {
	}

	&__form {
		margin-top: var(--space-sm);

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--space-xs);
	}

	&__box-title {
		display: block;

		line-height: 1;
		font-size: var(--font-size-sm);
		color: var(--color-subtext);
	}

	&__select {
		margin-top: 8px;
		padding: 20px 16px;
		width: 100%;

		font-weight: 500;
		line-height: 1;

		border: 1px solid var(--color-border);
		border-radius: var(--border-lg);
	}

	&__option {
		&:hover {
			background-color: black;
		}
	}

	&__qty-box {
	}

	&__qty-subbox {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--space-xs);

		padding: 10px 20px;
		margin-top: 8px;
		width: 100%;

		border-radius: var(--border-lg);
		border: 1px solid var(--color-border);
		background-color: var(--color-box);
	}

	&__qty-buttons {
		display: flex;
		align-items: center;
		gap: 2px;
	}

	&__radio-box {
		display: flex;
		gap: var(--space-xxs);
	}

	&__radio {
		display: none;

		&:checked + .calculator__label::before {
			border-color: var(--color-accent);
		}

		&:checked + .calculator__label::after {
			background-color: var(--color-accent);
		}
	}

	&__input {
		max-width: 55px;
		padding: 4px 8px;
		text-align: center;
	}

	&__label {
		@include trans;

		height: 28px;
		padding-left: 26px;

		position: relative;

		cursor: pointer;

		&--small {
			font-size: 11px;
			position: relative;
			top: -5px;
		}

		&::before {
			@include trans(0.2s);

			content: "";
			width: 18px;
			height: 18px;

			position: absolute;
			left: 0;
			top: 3px;

			border: 1px solid var(--color-border);
			background-color: var(--color-bg);
			border-radius: 100%;
		}

		&::after {
			@include trans(0.2s);

			content: "";
			width: 12px;
			height: 12px;

			position: absolute;
			left: 3px;
			top: 6px;
			border-radius: 100%;
		}
	}

	&__btn {
		width: 40px;
		height: 40px;

		position: relative;

		border-radius: var(--border-md);
		border: 1px solid var(--color-border);
		background-color: var(--color-bg);
	}

	&__btn-line {
		display: inline-block;
		width: 12px;
		height: 2px;

		border-radius: 1px;
		background-color: var(--color-text);

		&:nth-of-type(1) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&:nth-of-type(2) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(90deg);
		}
	}

	&__content-bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--space-sm);

		padding: 20px 40px;

		border-radius: 0 0 var(--border-lg) var(--border-lg);
		background-color: var(--color-accent);
	}

	&__price-box {
		display: flex;
		align-items: center;
		gap: var(--space-xxs);

		white-space: nowrap;
	}

	&__price-text {
		font-weight: 500;
		color: var(--color-bg);
		line-height: 1;
	}

	&__price {
		font-size: 1.5rem;
		font-weight: 800;
		color: var(--color-bg);
		line-height: 1;
	}

	&__buy {
		@include btn-bg(300px, 60px);
	}
}

.how {
	margin-top: var(--space-xl);

	&__title-2 {
		text-align: center;
	}

	&__list {
		display: flex;
		column-gap: var(--space-xs);
		row-gap: var(--space-md);
		justify-content: space-between;

		margin-top: var(--space-md);

		counter-reset: howCounter;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;

		width: 100%;
		max-width: 215px;

		position: relative;

		list-style: none;
	}

	&__item-img-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;

		min-width: 100px;
		height: 100px;

		position: relative;

		background-color: var(--color-box);
		border-radius: 100%;

		&::before {
			display: flex;
			align-items: center;
			justify-content: center;

			counter-increment: howCounter;
			content: counter(howCounter, decimal-leading-zero);

			width: 30px;
			height: 30px;

			position: absolute;
			right: 0;
			top: 0;

			font-weight: 500;
			font-size: var(--font-size-sm);
			color: var(--color-subtext);

			background-color: var(--color-bg);
			border-radius: 100%;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
		}
	}

	&__item-img {
		max-width: 50px;
		max-height: 50px;
	}

	&__item-text {
		margin-top: var(--space-xs);

		text-align: center;
		font-weight: 500;
		line-height: 1.3;
	}
}

.reviews {
	margin-top: var(--space-xl);

	&__inner {
	}
	&__flexbox {
		margin-top: var(--space-xs);
	}
}

.comment {
	padding: 30px 30px 36px;
	border-radius: var(--border-lg);
	border: 1px solid var(--color-border);

	&__top {
		display: flex;
		justify-content: space-between;
		gap: var(--space-xs);
	}

	&__author {
		width: 100%;

		display: flex;
		align-items: center;
		gap: var(--space-xs);
	}

	&__author-icon-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;

		min-width: 70px;
		height: 70px;

		background-color: var(--color-box);
		border-radius: 100%;
	}

	&__author-icon {
		width: 30px;
		height: 30px;
	}

	&__author-img {
		max-width: 70px;

		border-radius: 100%;
	}

	&__author-name {
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 1;
	}

	&__date {
		margin-top: 5px;

		font-size: var(--font-size-sm);
		line-height: 1;
		color: var(--color-subtext);
	}

	&__feedback {
		display: flex;
		align-items: center;
		justify-content: end;
		gap: var(--space-xs);
	}

	&__feedback-text {
		font-size: var(--font-size-sm);
		line-height: 1.2;
		color: var(--color-subtext);
		white-space: nowrap;
	}

	&__feedback-box {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__btn {
		display: block;
	}

	&__btn-img {
		min-width: 16px;
		position: relative;
		top: -3px;

		&--mirror {
			top: 2px;
			transform: scaleY(-1);
		}
	}

	&__qty {
	}

	&__text {
		margin-left: 90px;
	}

	&__link {
		display: inline-block;
		margin-top: var(--space-xs);
		margin-left: 90px;

		color: var(--color-text);
		font-weight: 500;

		border-bottom: 1px solid var(--color-text);
	}
}

.request {
	margin-top: var(--space-xl);

	&__inner {
		padding: 50px;

		background-color: var(--color-box);
		border-radius: var(--border-lg);
	}

	&__title {
	}

	&__form {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: var(--space-sm);

		margin-top: var(--space-sm);
	}

	&__inputs {
		width: 100%;
		display: flex;
		gap: var(--space-sm);
	}

	&__input {
		padding: 22px 20px;
		width: 100%;

		line-height: 1;

		background-color: var(--color-bg);
		border-radius: var(--border-lg);
	}

	&__btn {
		@include btn(240px, 60px);
	}

	&__agree {
		margin-top: var(--space-sm);
		color: var(--color-subtext);
	}

	&__agree-link {
		color: var(--color-subtext);
		text-decoration: underline !important;
	}
}

/*************** MEDIA ***************/

@include effect {
	.sell-slider__btn,
	.advantages__item,
	.advantages__item-title,
	.request__agree-link {
		@include trans;
	}

	.sell-slider__btn:not(.sell-slider__btn--active):hover {
		background-color: var(--color-border--hover);
	}

	.advantages__item:hover {
		box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);

		& .advantages__item-title {
			color: var(--color-accent);
		}
	}

	.request__agree-link:hover {
		color: var(--color-accent);
	}
}

@include media(1400px) {
	.sell-slider__img {
		max-width: 540px;
	}

	.sell-slider__text {
		padding: 6px 15px 6px 10px;
	}

	.catalog__item-box {
		padding: 8px 20px;
	}

	.banner__title-main {
		font-size: 80px;
	}

	.banner__title-sub {
		font-size: 40px;
	}

	.request__title-2 {
		text-align: center;
	}

	.calculator__img {
		left: 10px;
	}
}

@include xl {
	.banner__img {
		max-width: 160px;
	}

	.advantages__title {
		font-size: 1.5rem;
	}

	.calculator__content {
		max-width: 600px;
	}

	.calculator__content-top {
		padding: 15px 20px;
	}

	.calculator__content-bottom {
		padding: 15px 20px;
	}

	.calculator__select {
		padding: 12px;
	}

	.calculator__qty-subbox {
		padding: 8px 12px;
	}

	.calculator__btn {
		width: 30px;
		height: 30px;
	}

	.how__list {
		justify-content: center;
		flex-wrap: wrap;
	}

	.comment__text {
		margin: var(--space-xs) 0 0;
	}

	.comment__link {
		margin-left: 0;
	}
}

@include media(1100px) {
	.sell-slider__img {
		max-width: 440px;
	}
}

@include media(1080px) {
	.comment__feedback-text {
		display: none;
	}
}

@include lg {
	.promo__inner {
		flex-direction: column;
		padding-left: var(--space-md);
	}

	.promo__content {
		max-width: 800px;
		padding-left: 0;

		text-align: center;
	}

	.promo__text {
		max-width: none;
	}

	.promo__link {
		margin-left: auto;
		margin-right: auto;
	}

	.sell-slider__img {
		max-width: none;
	}

	.catalog__list {
		grid-template-columns: repeat(3, 1fr);
	}

	.catalog__item-box {
		padding: 8px 12px;
	}

	.banner__img {
		display: none;
	}

	.banner__title {
		text-align: center;
	}

	.banner__title-main {
		font-size: 56px;
	}

	.banner__title-sub {
		font-size: 32px;
	}

	.banner__text {
		text-align: justify;
	}

	.banner__inner {
		padding: var(--space-md);
	}

	.about__top {
		flex-direction: column;
	}

	.about__img {
		min-height: 0;
		max-height: 400px;
	}

	.about__subtitle {
		text-align: center;
	}

	.about__text {
		text-align: justify;
	}

	.about__link {
		margin-left: auto;
		margin-right: auto;
	}

	.advantages__item-img-wrapper {
		min-width: 68px;
		height: 68px;
		padding: 10px;
	}

	.request__form {
		flex-wrap: wrap;
	}

	.request__btn {
		margin: 0 auto;
	}

	.request__agree {
		text-align: center;
	}

	.calculator__form {
		grid-template-columns: repeat(1, 1fr);
	}

	.calculator__content {
		max-width: 420px;
	}

	.calculator__inner {
		overflow: hidden;
	}

	.calculator__img {
		object-fit: cover;
		left: -50px;
	}

	.comment {
		padding: 20px 20px 24px;
	}
}

@include media(840px) {
	.catalog__list {
		grid-template-columns: repeat(2, 1fr);
	}

	.advantages__list {
		grid-template-columns: repeat(1, 1fr);
	}

	.calculator__form {
		grid-template-columns: repeat(2, 1fr);
	}

	.calculator__img-wrapper {
		display: none;
	}

	.calculator__content {
		max-width: none;
	}

	.calculator__inner {
		padding: 0;
		overflow: unset;
	}

	.calculator__content {
		border-radius: var(--border-lg);

		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
	}
}

@include md {
	.banner__title-main {
		font-size: 48px;
	}

	.banner__title-sub {
		font-size: 28px;
	}

	.about__img {
		max-height: 300px;
	}

	.advantages__title {
		font-size: 1.25rem;
	}

	.request__inputs {
		flex-direction: column;
	}

	.request__inner {
		padding: 30px 20px;
	}
}

@include media(640px) {
	.calculator__form {
		grid-template-columns: repeat(1, 1fr);
	}

	.reviews__flexbox {
		align-items: center;
	}
}

@include media(540px) {
	.banner__title-main {
		font-size: 32px;
	}

	.banner__title-sub {
		font-size: 20px;
	}

	.request__inner {
		padding: 20px 15px;
	}
}

@include sm {
	.sell-slider__text {
		font-size: 14px;
	}

	.about__img {
		max-height: 240px;
	}

	.advantages__title {
		font-size: 1rem;
	}

	.request__agree {
		font-size: var(--font-size-sm);
	}

	.calculator__content-bottom {
		flex-direction: column;
	}

	.how__item {
		max-width: none;
		flex-direction: row;
		gap: 20px;
	}

	.how__item-text {
		text-align: left;
	}
}

@include media(400px) {
	.sell-slider__text {
		display: none;
	}

	.catalog__list {
		grid-template-columns: repeat(1, 1fr);
	}

	.banner__title-main {
		font-size: 24px;
	}

	.banner__title-sub {
		font-size: 18px;
	}

	.advantages__item {
		flex-direction: column;

		text-align: center;
	}

	.advantages__text {
		margin-top: var(--space-xs);
	}

	.how__item {
		gap: 15px;
	}

	.how__item-img-wrapper {
		min-width: 60px;
		height: 60px;

		&::before {
			width: 24px;
			height: 24px;

			top: -5px;
			right: -5px;

			font-size: var(--font-size-xs);
		}
	}

	.how__item-img {
		max-width: 32px;
		max-height: 32px;
	}
}
