@mixin font-face($font-family, $url, $font-style, $weight) {
	@font-face {
		font-family: $font-family;
		src: url("#{$url}.woff2") format("woff2"), url("#{$url}.woff") format("woff");
		font-style: $font-style;
		font-weight: $weight;
		font-display: swap;
	}
}

@include font-face("Gilroy", "#{$fonts-root}Gilroy-Regular", normal, 400);
@include font-face("Gilroy", "#{$fonts-root}Gilroy-Medium", normal, 500);
@include font-face("Gilroy", "#{$fonts-root}Gilroy-MediumItalic", italic, 500);
@include font-face("Gilroy", "#{$fonts-root}Gilroy-SemiBold", normal, 600);
@include font-face("Gilroy", "#{$fonts-root}Gilroy-Bold", normal, 700);
@include font-face("Gilroy", "#{$fonts-root}Gilroy-ExtraBold", normal, 800);
@include font-face("Gilroy", "#{$fonts-root}Gilroy-Heavy", normal, 900);
