// MEDIA

@mixin sm {
	@media (max-width: $screen-sm) {
		@content;
	}
}

@mixin md {
	@media (max-width: $screen-md) {
		@content;
	}
}

@mixin lg {
	@media (max-width: $screen-lg) {
		@content;
	}
}

@mixin xl {
	@media (max-width: $screen-xl) {
		@content;
	}
}

@mixin media($screen) {
	@media (max-width: $screen) {
		@content;
	}
}

@mixin effect {
	@media (hover: hover) and (pointer: fine) {
		@content;
	}
}

// EFFECTS

@mixin trans($trans-dur: 0.3s) {
	transition: all $trans-dur ease;
}

// ELEMENTS

@mixin arrow {
	margin-right: 15px;

	&::after {
		@include trans;

		content: "";
		width: 10px;
		height: 5px;

		position: absolute;
		top: 6px;
		right: -15px;

		background-image: url("./../img/icon/arrow-forward.svg");
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&--active:after {
		transform: rotate(180deg);
	}
}

@mixin btn($width, $height) {
	@include trans;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	max-width: $width;
	height: $height;

	line-height: 1;
	font-size: var(--font-size-xs);
	color: var(--color-bg);
	font-weight: 600;
	text-transform: uppercase;

	background-color: var(--color-accent);
	border-radius: var(--border-md);

	@include effect {
		&:hover {
			background-color: var(--color-accent--dark);
		}

		&:active {
			background-color: var(--color-accent--darkest);
		}
	}
}

@mixin btn-bg($width, $height) {
	@include trans;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	max-width: $width;
	height: $height;

	line-height: 1;
	font-size: var(--font-size-xs);
	color: var(--color-text);
	font-weight: 600;
	text-transform: uppercase;

	background-color: var(--color-bg);
	border-radius: var(--border-md);

	@include effect {
		&:hover {
			color: var(--color-accent);
		}

		&:active {
			transform: scale(0.9)
		}
	}
}

@mixin btn-border {
	@include trans;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	max-width: 240px;
	height: 50px;

	position: relative;
	overflow: hidden;

	line-height: 1;
	font-size: var(--font-size-xs);
	color: var(--color-text);
	font-weight: 600;
	text-transform: uppercase;

	border: 1px solid var(--color-text);
	border-radius: var(--border-md);

	&::before {
		@include trans;

		content: "";
		width: 100%;
		height: 100%;
		max-height: 0;

		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;

		background-color: var(--color-accent);
	}

	@include effect {
		&:hover {
			color: var(--color-bg);
			border-color: var(--color-accent);

			&:before {
				max-height: 100%;
			}
		}

		&:active {
			color: var(--color-bg);
			border-color: var(--color-accent--dark);
			background-color: var(--color-accent--dark);

			&:before {
				background-color: var(--color-accent--dark);
			}
		}
	}
}

@mixin link {
	padding-right: 20px;

	position: relative;

	font-weight: 600;
	font-size: var(--font-size-xs);
	color: var(--color-title);
	line-height: 1;
	text-transform: uppercase;

	&::after {
		content: "";
		width: 12px;
		height: 12px;

		position: absolute;
		right: 0;
		bottom: 0;

		background-image: url("./../img/icon/call.svg");
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}
